#navbar-name {
  /* font-family: 'Fredericka the Great', cursive; */
}

.nav-item {
  /* font-family: 'Fredericka the Great', cursive; */
  font-size: 1.2em;
}

.header-nav {
  z-index: 1000;
}

.bg-dark {
  background: linear-gradient(rgba(35, 28, 139, 0.253),rgba(189, 182, 182, 0.35))!important;
  opacity: 0.7;
}


