#navbar-name {
  font-family: 'Fredericka the Great', cursive;
}

.nav-item {
  font-family: 'Fredericka the Great', cursive;
  font-size: 1em;
}

.header-nav {
  z-index: 1000;
}

.bg-dark {
  background: linear-gradient(rgba(241, 241, 241, 0.9),rgba(35, 28, 139, 0.253))!important;
  opacity: 0.5;
}


