#navbar-name {
  font-family: 'Fredericka the Great', cursive;
}

.nav-item {
  font-family: 'Fredericka the Great', cursive;
  font-size: 16px;
}

.header-nav {
  z-index: 1000;
}

.navbar-menu-opacity {
  opacity: 0.9;
}
