#main-menu {
  padding-bottom: 15px;
  overflow: hidden;
  font-family: 'Fredericka the Great', cursive;
  height: 90%;
  margin-right: 15%;
  margin-left: 15%;
}

#main-menu-item {
  overflow: hidden;
}
